In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import os

print(os.getcwd())

C:\Users\LENOVO\Desktop

In [5]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [4]:
import os
os.chdir('/content/drive/My Drive/Colab_Notebooks')

FileNotFoundError: ignored

In [4]:
df = pd.read_csv('IMDBMovie.csv')
df

,ID,Title,Genre,Director,Year,Runtime_minutes,Rating,Votes,Revenue_millions
0,1,Guardians of the Galaxy,Action,James Gunn,2014,121,8.1,757074,333.13
1,2,Prometheus,Adventure,Ridley Scott,2012,124,7.0,485820,126.46
2,3,Split,Horror,M. Night Shyamalan,2016,117,7.3,157606,138.12
3,4,Sing,Animation,Christophe Lourdelet,2016,108,7.2,60545,270.32
4,5,Suicide Squad,Action,David Ayer,2016,123,6.2,393727,325.02
...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,Crime,Billy Ray,2015,111,6.2,27585,NaN
996,997,Hostel: Part II,Horror,Eli Roth,2007,94,5.5,73152,17.54
997,998,Step Up 2: The Streets,Drama,Jon M. Chu,2008,98,6.2,70699,58.01
998,999,Search Party,Adventure,Scot Armstrong,2014,93,5.6,4881,NaN
999,1000,Nine Lives,Comedy,Barry Sonnenfeld,2016,87,5.3,12435,19.64

In [5]:
len(df)

1000

In [6]:
Q3 = df['Rating'].quantile(0.75)
Q3

7.4

In [7]:
df['Revenue_millions'].isnull().sum()

128

In [8]:
count_high_revenue_movies = len(df[df['Revenue_millions'] > 75])

print("Number of movies with revenue higher than 75 million:", count_high_revenue_movies)

Number of movies with revenue higher than 75 million: 318

In [ ]:
count_movies = len(df[(df['Revenue_millions'] > 50) & (df['Rating'] < 7)])
print('The number of movies: ', count_movies)

The number of movies:  211

In [ ]:
revenue_2015 = df[df['Year'] == 2015]['Revenue_millions'].sum()
print('revenue_2015: ', revenue_2015)

revenue_2015:  8854.119999999999

In [ ]:
average_rtg_genre = df[(df['Genre'] == 'Adventure') & (df['Year']==2015)]['Rating'].mean()
print(average_rtg_genre)

6.8

In [ ]:
movie_avg_duration = df.iloc[75:150]['Runtime_minutes'].mean()

print(movie_avg_duration)

127.61333333333333

In [ ]:
highest_revenue_year = df.groupby('Year')['Revenue_millions'].sum()

year_highest_revenue = highest_revenue_year.idxmax()

print(year_highest_revenue)

2016

In [ ]:
max_revenue = df.iloc[10:51]['Revenue_millions'].max()

print(max_revenue)

936.63

In [9]:
df.iloc[0]

ID                                        1
Title               Guardians of the Galaxy
Genre                                Action
Director                         James Gunn
Year                                   2014
Runtime_minutes                         121
Rating                                  8.1
Votes                                757074
Revenue_millions                     333.13
Name: 0, dtype: object

In [ ]:
count_movies = len(df[df['Genre'].str.contains('Adventure') & df['Genre'].str.contains('Action') & df['Genre'].str.contains('Horror') & df['Genre'].str.contains('Crime')])

print("Number of movies :", count_movies)

Number of movies : 0

In [42]:
df['Genre']

0         Action
1      Adventure
2         Horror
3      Animation
4         Action
         ...
995        Crime
996       Horror
997        Drama
998    Adventure
999       Comedy
Name: Genre, Length: 1000, dtype: object

In [43]:
Genres = ["Adventure", "Action", "Horror", "Crime"]

n_movies_per_genre = df["Genre"].str.split(",").apply(lambda x: x.count(Genre) for Genre in Genres)

# Get the total number of movies with the four genres
n_movies = n_movies_per_genre.sum()

print(f"There are {n_movies} movies with the genres 'Adventure', 'Action', 'Horror', and 'Crime' in the IMDB dataset.")

There are <lambda>     75
<lambda>    293
<lambda>     46
<lambda>     71
dtype: int64 movies with the genres 'Adventure', 'Action', 'Horror', and 'Crime' in the IMDB dataset.

In [44]:
75+293+46+71

485

In [10]:
# Group the data by 'Genres' and calculate the desired metrics
genre_report = df.groupby('Genre').agg({
    'Rating':'mean',
    'Votes':'mean',
    'Revenue_millions':'mean'
}).reset_index()

genre_report.columns = ['Genre', 'Average Rating', 'Average votes', 'Average Revenue']

print(genre_report)

        Genre  Average Rating  Average votes  Average Revenue
0      Action        6.592491  235948.580205       122.093551
1   Adventure        6.908000  225669.320000       113.453521
2   Animation        7.324490  208159.428571       191.223404
3   Biography        7.318750  153060.718750        55.954500
4      Comedy        6.493143  115640.188571        51.582244
5       Crime        6.807042  150124.957746        41.043519
6       Drama        6.954872  129445.128205        35.874487
7     Fantasy        5.850000  106723.000000        63.110000
8      Horror        5.867391   79435.413043        39.946857
9     Mystery        6.876923  218672.000000        64.379091
10    Romance        6.600000  104572.000000        62.450000
11     Sci-Fi        4.966667   57450.000000        42.635000
12   Thriller        5.960000   31156.800000         0.320000

In [13]:
# Calculate the average rating of the 'Horror' genre
average_rating_horror = df[df['Genre'].str.contains('Horror')]['Rating'].mean()

# Round the average rating to two decimal places
average_rating_horror = round(average_rating_horror, 2)

# Display the result
print("Average rating of the 'Horror' genre:", average_rating_horror)

Average rating of the 'Horror' genre: 5.87

In [17]:
genre_year_total_revenue = df.groupby(['Genre', 'Year'])['Revenue_millions'].transform('sum')

split_revenue = df[(df['Title'] == 'Split')]['Revenue_millions'].values[0]

percentage_revenue_split = (split_revenue * 100) / genre_year_total_revenue[df['Title'] == 'Split'].values[0]

print("Percentage revenue of the movie 'Split' in its genre and year:", percentage_revenue_split)

Percentage revenue of the movie 'Split' in its genre and year: 29.42041024985622

In [18]:
min_votes = df['Votes'].min()
max_votes = df['Votes'].max()

def normalize_votes(votes):
    return ((votes - min_votes) * 10) / (max_votes - min_votes)

df['Votes_norm'] = df['Votes'].apply(normalize_votes)

average_votes_norm = df['Votes_norm'].mean().round(2)

print("Average 'Votes_norm':", average_votes_norm)

Average 'Votes_norm': 0.95

In [19]:
def Cal_total_rtg(row):
    return row['Rating'] + row['Votes_norm']

df['Total_rating'] = df.apply(Cal_total_rtg, axis=1)

highest_total_rating = df['Total_rating'].max()

print(highest_total_rating)

19.0

In [25]:
bins = [0, 50, 100, 150, float('inf')]
labels = ['0-50', '51-100', '101-150', '150+']

df['Revenue_bins'] = pd.cut(df['Revenue_millions'], bins=bins, labels=labels)

highest_bucket = df['Revenue_bins'].value_counts().idxmax()

print(highest_bucket)

0-50

In [31]:
df['Genre_Count'] = df['Genre'].str.split(', ').apply(len)

directors_max_genre_count = df.groupby('Director')['Genre_Count'].max()

max_genre_count = directors_max_genre_count.max()

directors_with_max_genre_count = directors_max_genre_count[directors_max_genre_count == max_genre_count]

count_directors_with_max_genre_count = len(directors_with_max_genre_count)

print(count_directors_with_max_genre_count)

644

In [33]:
df

,ID,Title,Genre,Director,Year,Runtime_minutes,Rating,Votes,Revenue_millions,Votes_norm,Total_rating,Revene_bins,Revenue_bins,Genre_Count
0,1,Guardians of the Galaxy,Action,James Gunn,2014,121,8.1,757074,333.13,4.224745,12.324745,150+,150+,1
1,2,Prometheus,Adventure,Ridley Scott,2012,124,7.0,485820,126.46,2.710928,9.710928,101-150,101-150,1
2,3,Split,Horror,M. Night Shyamalan,2016,117,7.3,157606,138.12,0.879229,8.179229,101-150,101-150,1
3,4,Sing,Animation,Christophe Lourdelet,2016,108,7.2,60545,270.32,0.337550,7.537550,150+,150+,1
4,5,Suicide Squad,Action,David Ayer,2016,123,6.2,393727,325.02,2.196975,8.396975,150+,150+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,Crime,Billy Ray,2015,111,6.2,27585,NaN,0.153606,6.353606,NaN,NaN,1
996,997,Hostel: Part II,Horror,Eli Roth,2007,94,5.5,73152,17.54,0.407907,5.907907,0-50,0-50,1
997,998,Step Up 2: The Streets,Drama,Jon M. Chu,2008,98,6.2,70699,58.01,0.394217,6.594217,51-100,51-100,1
998,999,Search Party,Adventure,Scot Armstrong,2014,93,5.6,4881,NaN,0.026899,5.626899,NaN,NaN,1
999,1000,Nine Lives,Comedy,Barry Sonnenfeld,2016,87,5.3,12435,19.64,0.069057,5.369057,0-50,0-50,1

In [46]:
df_cleaned = df.dropna()

In [47]:
df_cleaned

,ID,Title,Genre,Director,Year,Runtime_minutes,Rating,Votes,Revenue_millions,Votes_norm,Total_rating,Revene_bins,Revenue_bins,Genre_Count
0,1,Guardians of the Galaxy,Action,James Gunn,2014,121,8.1,757074,333.13,4.224745,12.324745,150+,150+,1
1,2,Prometheus,Adventure,Ridley Scott,2012,124,7.0,485820,126.46,2.710928,9.710928,101-150,101-150,1
2,3,Split,Horror,M. Night Shyamalan,2016,117,7.3,157606,138.12,0.879229,8.179229,101-150,101-150,1
3,4,Sing,Animation,Christophe Lourdelet,2016,108,7.2,60545,270.32,0.337550,7.537550,150+,150+,1
4,5,Suicide Squad,Action,David Ayer,2016,123,6.2,393727,325.02,2.196975,8.396975,150+,150+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,994,Resident Evil: Afterlife,Action,Paul W.S. Anderson,2010,97,5.9,140900,60.13,0.785996,6.685996,51-100,51-100,1
994,995,Project X,Comedy,Nima Nourizadeh,2012,88,6.7,164088,54.72,0.915403,7.615403,51-100,51-100,1
996,997,Hostel: Part II,Horror,Eli Roth,2007,94,5.5,73152,17.54,0.407907,5.907907,0-50,0-50,1
997,998,Step Up 2: The Streets,Drama,Jon M. Chu,2008,98,6.2,70699,58.01,0.394217,6.594217,51-100,51-100,1
999,1000,Nine Lives,Comedy,Barry Sonnenfeld,2016,87,5.3,12435,19.64,0.069057,5.369057,0-50,0-50,1

In [48]:
df_cleaned['Genre_Count'] = df_cleaned['Genre'].str.split(', ').apply(len)

directors_max_genre_count = df_cleaned.groupby('Director')['Genre_Count'].max()

max_genre_count = directors_max_genre_count.max()

directors_with_max_genre_count = directors_max_genre_count[directors_max_genre_count == max_genre_count]

count_directors_with_max_genre_count = len(directors_with_max_genre_count)

print(count_directors_with_max_genre_count)

539

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18312\3577785016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Genre_Count'] = df_cleaned['Genre'].str.split(', ').apply(len)